* {
  margin: 0;
  padding: 0;

}

body,html, #stars {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

body {
  background: black;
  background: radial-gradient(rgba(11,31,56,1), rgba(10,10,10,1));
  position: relative;
}

ul,li {
  list-style: none;
}

#sun {
  display: block;
  width: 200px;
  height: 200px;
  background-image: radial-gradient(red,yellow);
  border-radius: 50%;
  box-shadow: 0 0 10px 10px yellow;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.planets {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.planet {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: radial-gradient(#cecece,#151c00);
  box-shadow: 0 0 20px 0px #31464e;
}
